<body>
    <div class="login-block">
      <h1>Sign Up</h1>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

        <input type="hidden" name="Id" [value]="objsignup.mdata.Mid">

        <label>Name</label>
          <i class="fa fa-user-circle-o" aria-hidden="true" [class.green-icon]="MName.valid"
            [class.red-icon]="MName.invalid && MName.touched"></i>
          <input name="MName" #MName="ngModel"   [(ngModel)]="objsignup.mdata.MName" placeholder="Member name" class="form-control" required>

        <label>UserName</label>
          <i class="fa fa-user-circle-o" aria-hidden="true" [class.green-icon]="Username.valid"
          [class.red-icon]="Username.invalid && Username.touched"></i>
          <input name="Username" #Username="ngModel"   [(ngModel)]="objsignup.mdata.Username" placeholder="Username" class="form-control" required>

        <label>Password</label>
          <i class="fa fa-user-circle-o" aria-hidden="true" [class.green-icon]="Password.valid"
          [class.red-icon]="Password.invalid && Password.touched"></i>
          <input type="password" name="Password" #Password="ngModel"   [(ngModel)]="objsignup.mdata.Password" placeholder="Password" class="form-control" required>

        <label>Address</label>
          <i class="bi bi-house" aria-hidden="true" [class.green-icon]="Address.valid"
          [class.red-icon]="Address.invalid && Address.touched"></i>
          <input name="Address" #Address="ngModel"   [(ngModel)]="objsignup.mdata.Address" placeholder="Address" class="form-control" >

        <label>State</label>
          <i class="bi bi-house" aria-hidden="true" [class.green-icon]="State.valid"
          [class.red-icon]="State.invalid && State.touched"></i>
          <input name="State" #State="ngModel"   [(ngModel)]="objsignup.mdata.State" placeholder="State" class="form-control" >

        <label>Country</label>
          <i class="bi bi-house" aria-hidden="true" [class.green-icon]="Country.valid"
          [class.red-icon]="Country.invalid && Country.touched"></i>
          <input name="Country" #Country="ngModel"   [(ngModel)]="objsignup.mdata.Country" placeholder="Country" class="form-control" >

        <label>Email</label>
          <i class="bi bi-envelope" aria-hidden="true" [class.green-icon]="Email.valid"
          [class.red-icon]="Email.invalid && Email.touched"></i>
          <input name="Email" #Email="ngModel"   [(ngModel)]="objsignup.mdata.Email" placeholder="Email" class="form-control" >

        <label>Contact</label>
          <i class="fa fa-calendar" aria-hidden="true" [class.green-icon]="Contact.valid"
          [class.red-icon]="Contact.invalid && Contact.touched"></i>
          <input name="Contact" #Contact="ngModel"   [(ngModel)]="objsignup.mdata.Contact" placeholder="Contact" class="form-control" >

        <label>Date of Birth</label>
          <i class="fa fa-calendar" aria-hidden="true" [class.green-icon]="DOJ.valid"
          [class.red-icon]="DOJ.invalid && DOJ.touched"></i>
          <input type="datetime" name="DOJ" #DOJ="ngModel"   [(ngModel)]="objsignup.mdata.DOJ" placeholder="DOB" class="form-control" >


          <button class="btn btn-success btn-lg" type="submit" [disabled]="form.invalid" href="HomePage"><i class="fa fa-database"></i>Sign up</button>
      </form>
      <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
        <p class="para-2">
          Already have an account? <a href="login">Login here</a>
      </p>
    </div>
  </body>
