<body>
    <table class="table table-hover">
        <thead class="thead-primary">
            <tr>
                <th>PlanID</th>
                <th>PlanName</th>
                <th>PlanAmount</th>
                <th>Start</th>
                <th>End</th>
         
            </tr>
        </thead>
        <tbody *ngFor="let p of objSrv.ppList">
            <tr >
                <td (click)="fillForm(p)">{{p.PId}}</td>
                <td (click)="fillForm(p)">{{p.Pname}}</td>
                <td (click)="fillForm(p)">{{p.Amount}}</td>
                <td (click)="fillForm(p)">{{p.Start}}</td>
                <td (click)="fillForm(p)">{{p.End}}</td>
                
            </tr>
        </tbody>
    </table>
    </body>
